.bg-image {
    background-image: url('./Img/A7jYCI.jpg');
    background-size: auto;
    background-position: center;
    
  }
 
  .dropdown-menu {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 2; /* Açılan sekmenin diğer içeriklerin üzerine çıkmasını sağlar */
    /* Diğer stil özellikleri */
  }

  .sticky-header {
    position: sticky;
    top: 0;
    z-index: 100; /* Adjust the z-index value as needed */
    /* Add other styling properties for your header */
}
.cast-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap; /* Prevent wrapping to the next line */
}

.cast-member {
  width: 150px; /* Adjust the width as needed */
  margin-right: 10px; /* Adjust the spacing between cast members */
}

.cast-image {
  width: 100%;
  border-radius: 8px; /* Add rounded corners to the cast images */
}


